﻿<!--ViewData Handling-->
@{
    ViewData["Title"] = "Home Page";
}

<!--CSS | JS Handling-->
@section Scripts {
    <script type="text/javascript" src="~/js/home.js" asp-append-version="true"></script>
}
@section Styles {
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true"/>
}

<p class="site_FadeLabel">Welcome to InSight</p>
<br />

<!--Featured items-->
<p class="site_MedLabel">Skill Showcase</p>
<div id="home_FeaturedSkillsWrapper">
    <div id="home_FeaturedSkills">
        @{int skillCounter = 0;}
        @foreach (Skill thisFeaturedSkill in ViewBag.FeaturedSkills)
        {
            <div class="home_FeaturedItem" data-featuredItemRef="@skillCounter">
                <div class="home_FeaturedItemImage">
                    <img src="~/images/Skills/@thisFeaturedSkill.SkillImage" />
                </div>
                <a asp-controller="Skill" asp-action="Index" asp-route-selectedID="@thisFeaturedSkill.ID">
                    <div class="home_FeaturedItemText">
                        @thisFeaturedSkill.SkillName
                    </div>
                </a>
            </div>
            skillCounter++;
        }
    </div>
</div>


<!--About-->
<p class="site_MedLabel">About InSight</p>
<div class="site_SmallTextBody">
    InSight is your first stop for all things training. Recap your processes and catch up on the latest changes to your 
    procedures, or browse our growing selection of Topics - arranged sensibly for your convenience! 
</div>

<br />

<!--Getting Started with InSight-->
<p class="site_MedLabel">Getting Started</p>
<div class="site_SmallTextBody">
    Don't worry about signing up - we already took care of the boring part for you.
    <br />
    Simply browse our selection of Topics and Skills, subscribe to those that matter to you, and we'll handle the rest.
    <br />
    We'll keep you in the loop when your subscribed Skills are amended and when new Topics are added.
</div>