﻿@model IEnumerable<Insight.Models.Skill>

<!--ViewData Handling-->
@{
    ViewData["Title"] = "Explore";
    string[] openingLines = ViewBag.openingLines;
}

<!--CSS | JS Handling-->
@section Scripts {
    <script type="text/javascript" src="~/js/skills.js" asp-append-version="true"></script>
}
@section Styles {
    <link rel="stylesheet" href="~/css/skills.css" asp-append-version="true" />
}

<p class="site_FadeLabel">Explore</p>
<br />
<p class="site_MedLabel">
    @{ Random randGen = new Random();
       string greetingLine = openingLines[randGen.Next(0, openingLines.Length)];}
    @greetingLine
</p>

<div id="skills_Master">

    <!--Skills listing-->
    <div id="skills_LHS">
        @foreach (Skill thisSkill in Model)
        {
            <div class="skills_skillItem" data-skillID="@thisSkill.ID" onclick="SkillPreview(this)">
                @String.Format("{0} | {1} Topics", thisSkill.SkillName, thisSkill.SkillTopics.Count())
            </div>
        }
        @for (int i = 0; i < 10; i++)
        {
            <div class="skills_skillItem" data-skillID="99999" onclick="SkillPreview(this)">
                A Skill | X Topics
            </div>
        }
    </div>

    <!--Topics in Skill listing; AJAX powered-->
    <div id="skills_RHS">
        <img id="skills_eggTimer" class="st_rotatingAnim" src="~/images/Site/timer_multi.png"/>
        <div id="skills_topicInfo">
            <p id="skills_topicTitle" class="site_MedLabel">Select a Skill.</p>
            <p id="skills_topicLastUpdate" class="site_SmallLabel">&nbsp;</p>
            <div id="skills_topicScroller">

            </div>
        </div>
    </div>
</div>


