﻿@import 'standards.scss';

#home_FeaturedSkillsWrapper {
    width: 100%;
    overflow: auto;
    margin-top: 2.5%;
    margin-bottom: 2.5%;

    background-color: $st_greyDark;
}

#home_FeaturedSkills {
    width: 500px;
    height: 400px;
    display: block;
    margin: auto;

    background-color: $st_greyDark;

    .home_FeaturedItem {
        width: 100%;
        height: 100%;
        display: none;

        background-color: $st_greyDark;

        &.selected {
            display: block !important;
        }

        .home_FeaturedItemImage {
            width: 100%;
            height: 350px;
            display: block;
            margin: auto;
        }

        .home_FeaturedItemText {
            width: 100%;
            height: 50px;
            display: inline-block;
            margin: auto;
            padding-top: 10px;
            padding-bottom: 10px;
            top: 350px;

            background-color: $st_greyMed;
            color: white;

            transition: 0.1s;

            font-family: $st_noteFont;
            font-size: $st_largeSizeFont;
            text-align: center;

            &:hover {
                color: $st_orangeMed;
            }
        }
    }

    a:link,
    a:visited,
    a:hover,
    a:active {
        text-decoration: none;
    }
}

