﻿.st_rotatingAnim {
  transform-origin: center;
  -webkit-animation: rotation 2s infinite linear; }

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg); } }

#home_FeaturedSkillsWrapper {
  width: 100%;
  overflow: auto;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  background-color: #141414; }

#home_FeaturedSkills {
  width: 500px;
  height: 400px;
  display: block;
  margin: auto;
  background-color: #141414; }
  #home_FeaturedSkills .home_FeaturedItem {
    width: 100%;
    height: 100%;
    display: none;
    background-color: #141414; }
    #home_FeaturedSkills .home_FeaturedItem.selected {
      display: block !important; }
    #home_FeaturedSkills .home_FeaturedItem .home_FeaturedItemImage {
      width: 100%;
      height: 350px;
      display: block;
      margin: auto; }
    #home_FeaturedSkills .home_FeaturedItem .home_FeaturedItemText {
      width: 100%;
      height: 50px;
      display: inline-block;
      margin: auto;
      padding-top: 10px;
      padding-bottom: 10px;
      top: 350px;
      background-color: #1e1e1e;
      color: white;
      transition: 0.1s;
      font-family: "Shadows Into Light";
      font-size: 22px;
      text-align: center; }
      #home_FeaturedSkills .home_FeaturedItem .home_FeaturedItemText:hover {
        color: #ffad33; }
  #home_FeaturedSkills a:link,
  #home_FeaturedSkills a:visited,
  #home_FeaturedSkills a:hover,
  #home_FeaturedSkills a:active {
    text-decoration: none; }

