﻿@import 'standards.scss';

body {
    overflow-y: hidden;

    a:link,
    a:visited,
    a:hover,
    a:active {

    }
}

#site_Navbar {
    width: 100%;
    height: 50px;
    display: block;
    margin: auto;

    background-color: $st_greyDark;
    color: white;

    transition: 0.1s;
    user-select: none;
    cursor: pointer;

    font-family: $st_noteFont;
    font-size: $st_navSizeFont;
    line-height: 50px;
    text-align: center;

    &:hover,
    &.selected {
        background-color: $st_greyMed;
        color: $st_electricBlue;
    }

    &.selected {
        text-decoration: underline;
    }
}

#site_Menu {
    width: 100%;
    display: none;
    position: absolute;
    overflow: auto;
    z-index: 10;
    top: 50px;

    background-color: rgba(0, 0, 0, 0.75);

    font-family: $st_titleFont;

    &.selected {
        display: block;
    }
}

.site_MenuOption {
    width: 20%;
    height: 35px;
    display: inline;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;

    color: white;

    border-right: 1px solid $st_greyLight;

    transition: 0.2s;
    user-select: none;
    cursor: pointer;

    font-size: $st_smallSizeFont;
    line-height: 35px;
    text-align: center;

    &:hover {
        text-decoration: underline;
        color: $st_orangeMed;
    }

    &.lastItem {
        border-right: none;
    }
}

.site_FadeLabel,
.site_MedLabel,
.site_SmallLabel {
    width: 100%;
    
    color: $st_greyDark;

    transition: 0.1s;
    user-select: none;

    font-family: $st_titleFont;
    font-size: $st_extraSizeFont;
    text-align: center;

    &:hover {
        color: $st_greyLight;
    }
}

.site_MedLabel {
    font-size: $st_largeSizeFont;
}

.site_SmallLabel {
    font-size: $st_smallSizeFont;
}

.site_SmallTextBody {
    width: 60%;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;

    color: black;

    font-family: $st_textFont;
    font-size: $st_smallSizeFont;
    text-align: center;
}
