﻿.st_rotatingAnim {
  transform-origin: center;
  -webkit-animation: rotation 2s infinite linear; }

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg); } }

body {
  overflow-y: hidden; }

#site_Navbar {
  width: 100%;
  height: 50px;
  display: block;
  margin: auto;
  background-color: #141414;
  color: white;
  transition: 0.1s;
  user-select: none;
  cursor: pointer;
  font-family: "Shadows Into Light";
  font-size: 28px;
  line-height: 50px;
  text-align: center; }
  #site_Navbar:hover, #site_Navbar.selected {
    background-color: #1e1e1e;
    color: #0781b7; }
  #site_Navbar.selected {
    text-decoration: underline; }

#site_Menu {
  width: 100%;
  display: none;
  position: absolute;
  overflow: auto;
  z-index: 10;
  top: 50px;
  background-color: rgba(0, 0, 0, 0.75);
  font-family: "Ubuntu Condensed"; }
  #site_Menu.selected {
    display: block; }

.site_MenuOption {
  width: 20%;
  height: 35px;
  display: inline;
  float: left;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  border-right: 1px solid #787878;
  transition: 0.2s;
  user-select: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 35px;
  text-align: center; }
  .site_MenuOption:hover {
    text-decoration: underline;
    color: #ffad33; }
  .site_MenuOption.lastItem {
    border-right: none; }

.site_FadeLabel,
.site_MedLabel,
.site_SmallLabel {
  width: 100%;
  color: #141414;
  transition: 0.1s;
  user-select: none;
  font-family: "Ubuntu Condensed";
  font-size: 32px;
  text-align: center; }
  .site_FadeLabel:hover,
  .site_MedLabel:hover,
  .site_SmallLabel:hover {
    color: #787878; }

.site_MedLabel {
  font-size: 22px; }

.site_SmallLabel {
  font-size: 14px; }

.site_SmallTextBody {
  width: 60%;
  height: auto;
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  font-family: "Oswald";
  font-size: 14px;
  text-align: center; }

