﻿@import 'standards.scss';

#skills_Master {
    width: 75%;
    height: 600px;
    display: block;
    margin: auto;
    margin-top: 5%;
}

#skills_LHS,
#skills_RHS {
    height: 100%;
    display: block;
    float: left;
}

#skills_LHS {
    width: 50%;
    overflow-y: scroll;

    background-color: $st_greyMed;
}

::-webkit-scrollbar {
    width: 6px;
    z-index: 9999;
}

::-webkit-scrollbar-thumb {
    background-color: $st_electricBlue;
}

::-webkit-scrollbar-track {
    background-color: $st_greyDark;
}

#skills_RHS {
    width: 50%;
    border-right: 1px solid $st_greyOutline;
    border-top: 1px solid $st_greyOutline;
    border-bottom: 1px solid $st_greyOutline;

    #skills_eggTimer {
        width: 32px;
        height: 32px;
        display: block;
        margin: auto;

        object-fit: scale-down;

        opacity: 0.0;

        &.active {
            margin-top: 40%;
            opacity: 1.0;
        }
    }

    #skills_topicInfo {
        width: 90%;
        height: 100%;
        display: block;
        margin: auto;
        margin-top: 5%;
        padding-left: 5%;
        padding-right: 5%;

        transition: 0.1s;
    }

    #skills_subscribe {
        width: 150px;
        height: 30px;
        display: block;
        margin: auto;
        margin-bottom: 5%;

        background-color: $st_greenMed;
        color: white;
        opacity: 0.0;

        font-family: $st_noteFont;
        font-size: $st_largeSizeFont;
        text-align: center;
        line-height: 30px;

        transition: 0.1s;
        cursor: default;
        user-select: none;

        &:hover {
            background-color: $st_greenLight;
        }

        &.selected {
            background-color: $st_redMed;

            &:hover {
                background-color: $st_redLight;
            }
        }

        &.active {
            cursor: pointer;
            opacity: 1.0;
        }
    }

    #skills_topicScroller {
        width: 100%;
        height: 475px;
        display: none;
        margin: auto;
        margin-top: 5%;
        overflow-y: scroll;

        border: 1px solid $st_greyOutline;

        ::-webkit-scrollbar {
            width: 6px;
            z-index: 9999;
        }

        ::-webkit-scrollbar-thumb {
            background-color: $st_greyLight;
        }

        ::-webkit-scrollbar-track {
            background-color: $st_greyOutline;
        }
    }
}

.skills_skillItem,
.skills_topicItem {
    width: 100%;
    height: 50px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    background-color: $st_greyDark;
    color: white;

    font-family: $st_textFont;
    line-height: 35px;

    cursor: pointer;
    user-select: none;
    transition: 0.1s;

    &:hover,
    &.selected {
        background-color: $st_greyMed;
        color: $st_orangeMed;
        text-decoration: underline;
    }

    &.selected {
        color: $st_electricBlue;
    }
}

.skills_topicItem {
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;

    background-color: white;
    color: black;

    line-height: 35px;

    &:hover {
        background-color: $st_greyOutline;
        color: $st_electricBlue;
        text-decoration: underline;
    }
}