﻿.st_rotatingAnim {
  transform-origin: center;
  -webkit-animation: rotation 2s infinite linear; }

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg); } }

#skills_Master {
  width: 75%;
  height: 600px;
  display: block;
  margin: auto;
  margin-top: 5%; }

#skills_LHS,
#skills_RHS {
  height: 100%;
  display: block;
  float: left; }

#skills_LHS {
  width: 50%;
  overflow-y: scroll;
  background-color: #1e1e1e; }

::-webkit-scrollbar {
  width: 6px;
  z-index: 9999; }

::-webkit-scrollbar-thumb {
  background-color: #0781b7; }

::-webkit-scrollbar-track {
  background-color: #141414; }

#skills_RHS {
  width: 50%;
  border-right: 1px solid gainsboro;
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro; }
  #skills_RHS #skills_eggTimer {
    width: 32px;
    height: 32px;
    display: block;
    margin: auto;
    object-fit: scale-down;
    opacity: 0.0; }
    #skills_RHS #skills_eggTimer.active {
      margin-top: 40%;
      opacity: 1.0; }
  #skills_RHS #skills_topicInfo {
    width: 90%;
    height: 100%;
    display: block;
    margin: auto;
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    transition: 0.1s; }
  #skills_RHS #skills_subscribe {
    width: 150px;
    height: 30px;
    display: block;
    margin: auto;
    margin-bottom: 5%;
    background-color: #24d743;
    color: white;
    opacity: 0.0;
    font-family: "Shadows Into Light";
    font-size: 22px;
    text-align: center;
    line-height: 30px;
    transition: 0.1s;
    cursor: default;
    user-select: none; }
    #skills_RHS #skills_subscribe:hover {
      background-color: #51e169; }
    #skills_RHS #skills_subscribe.selected {
      background-color: #d62424; }
      #skills_RHS #skills_subscribe.selected:hover {
        background-color: #e15151; }
    #skills_RHS #skills_subscribe.active {
      cursor: pointer;
      opacity: 1.0; }
  #skills_RHS #skills_topicScroller {
    width: 100%;
    height: 475px;
    display: none;
    margin: auto;
    margin-top: 5%;
    overflow-y: scroll;
    border: 1px solid gainsboro; }
    #skills_RHS #skills_topicScroller ::-webkit-scrollbar {
      width: 6px;
      z-index: 9999; }
    #skills_RHS #skills_topicScroller ::-webkit-scrollbar-thumb {
      background-color: #787878; }
    #skills_RHS #skills_topicScroller ::-webkit-scrollbar-track {
      background-color: gainsboro; }

.skills_skillItem,
.skills_topicItem {
  width: 100%;
  height: 50px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #141414;
  color: white;
  font-family: "Oswald";
  line-height: 35px;
  cursor: pointer;
  user-select: none;
  transition: 0.1s; }
  .skills_skillItem:hover, .skills_skillItem.selected,
  .skills_topicItem:hover,
  .skills_topicItem.selected {
    background-color: #1e1e1e;
    color: #ffad33;
    text-decoration: underline; }
  .skills_skillItem.selected,
  .skills_topicItem.selected {
    color: #0781b7; }

.skills_topicItem {
  height: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
  color: black;
  line-height: 35px; }
  .skills_topicItem:hover {
    background-color: gainsboro;
    color: #0781b7;
    text-decoration: underline; }

