﻿//Site-wide standards (colours, fonts, etc).

//COLOURS
$st_greyOutline: rgb(220, 220, 220);
$st_greyLight: rgb(120, 120, 120);
$st_greyMed: rgb(30, 30, 30);
$st_greyDark: rgb(20, 20, 20);

$st_blueLight: rgb(0, 0, 0);
$st_blueMed: rgb(0, 0, 0);
$st_blueDark: rgb(0, 0, 0);
$st_electricBlue: rgb(7, 129, 183);

$st_redLight: rgb(225, 81, 81);
$st_redMed: rgb(214, 36, 36);
$st_redDark: rgb(110, 18, 18);

$st_orangeLight: rgb(0, 0, 0);
$st_orangeMed: rgb(255, 173, 51);
$st_orangeDark: rgb(0, 0, 0);

$st_amberLight: rgb(0, 0, 0);
$st_amberMed: rgb(0, 0, 0);
$st_amberDark: rgb(0, 0, 0);

$st_greenLight: rgb(81, 225, 105);
$st_greenMed: rgb(36, 215, 67);
$st_greenDark: rgb(18, 109, 34);

//FONTS
$st_titleFont: 'Ubuntu Condensed';
$st_labelFont: '';
$st_textFont: 'Oswald';
$st_noteFont: 'Shadows Into Light';

$st_extraSizeFont: 32px;
$st_navSizeFont: 28px;
$st_largeSizeFont: 22px;
$st_smallSizeFont: 14px;
$st_tinySizeFont: 10px;


//ANIMATIONS
.st_rotatingAnim {
    transform-origin: center;
    -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

//MISC

